package views

templ Buscar(llmResponse string, promptUsado string) {
	<div class="card twelve columns" id="markdown">
		{ llmResponse }
	</div>
	<div class="card twelve columns" id="markdown2">
		{ promptUsado }
	</div>
}

templ renderList(itemProps map[string]string) {
	for clave, valor := range itemProps {
		<li style="list-style: none; font-size: 1rem;"><strong>{ clave }:</strong> { valor }</li>
	}
}
